<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
    <nav class="nav  nav--social">
      {% for link in site.social_links %}
        {% assign id = link[0] | downcase %}
        <a href="{{ link[1] }}">
          {% include icon.html id=id title=id %}
        </a>
      {% endfor %}
    </nav>
    
  </div>
</footer>
